<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>About</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h2>Here we are!</h2>

    {{range .}}
    <ul>
        <li>First Name -> {{.FirstName}}
        <li>Last Name -> {{.LastName}}
        <li>Age -> {{.Age}}
    </ul>
    {{end}}

    <a href="/" class="link">Go to -> Index</a>

</body>

</html>