<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Not Found</title>
</head>

<body>
    <h2>Page Not Found</h2>

    <a style="margin: 3em; display: block; font-size: 20px" href="/">Index</a>
    <a style="margin: 3em; display: block; font-size: 20px" href="/about">About</a>
</body>

</html>